<div class="big-chip-wrapper" [class.selectable]="selectable" (click)="onBigChipClicked($event)">

  <div class="picture-wrapper flipper" [class.applyflip]="selected">

    <div class="flipper-content">

      <div class="initials-pic flipper-front" *ngIf="!showPicture">
        <span>{{pictureReplacementChars}}</span>
      </div>

      <div class="flipper-front">

        <!-- Need to show the image as a span with a background image to get IE to behave correctly -->
        <span *ngIf="showPicture" class="picture" [style.background-image]="'url(' + pictureUrl + ')'"></span>

      </div>
      
      <div class="flipper-back checkmark-pic-overlay" [class.uncheckable]="!selectable">
        <i class="material-icons md-48">check</i>
      </div>

    </div>

  <!-- Closing\opening div tags need to touch so there isn't extra white space -->
  </div><div class = "info-section-wrapper">

    <div>

      <div class="info">
        <span class="info-text">{{infoText}}</span>
        <ng-content select="[inject-sub-info]"></ng-content>
      </div>

    </div>

  </div>

</div>

<!-- This is for some trickery: since it's impossible for this component to know when the real picture is loaded because it's set with the 'background-image', this never-seen duplicate is used to know when the picture is loaded. Any sensible brower will only load the image once and then use the cached data. -->
<img src="{{pictureUrl}}" (load)="onPictureLoad($event)" class="no-display" >