<div class="container overview-wrapper" *ngIf="!loading" [@fadeInOut]>

	<div class="row">

		<div class="col-sm-12 col-lg-6">
			<ssParticipantCard [participants]="eventParticipants"></ssParticipantCard>
		</div>

		<div class="col-sm-12 col-lg-6">
			<ssDateTimeCard></ssDateTimeCard>
		</div>

	</div>

</div>

<!-- These user chips are never shown. They are placed here so the user pictures are pre-emptively loaded. Since most browsers will cached the picture, when the user goes to the editParticipants page
they will already be loded, thus making the page appear to load instantly. -->
<div class="no-display">
	<ssUserBigChip *ngFor="let person of systemUsers" [user]="person"></ssUserBigChip>
</div>