.simpleSyrup-wrapper .app-body{
	margin-bottom: 64px;
}

.simpleSyrup-wrapper .app-body.container{
	padding: 0;
}

@media screen and (max-width: 576px) {

	.simpleSyrup-wrapper .app-body{
		margin-bottom: 40px;
	}

}