<div class="navbar-wrapper" [@fadeInOut]>

	<nav class="navbar z-depth-1 fixed-top"> 

		<div>

	      	<button mat-icon-button class="flippy-hamburger" [class.is-active]="!showMenuButton" (click)="onMenuButtonClick($event)">
			  <span>toggle menu</span>
			</button>

		</div>

		<div class = "navbar-title">
			<h1 class="navbar-brand mb-0">{{title}}</h1>
		</div>
		
	</nav>

</div>

<mat-progress-bar [mode]="'indeterminate'" [color]="'primary'" *ngIf="showLoader" [@fadeInOut] class="loader-bar"></mat-progress-bar>
